<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>
        <%=day %>
    </h1>

    <ul>
        <li>Buy Food</li>
        <li>Wake UP</li>
        <li>Walk Dog</li>
    </ul>

    <form action="/" method="post">
        <input type="text" name="newTask">
        <button type="submit" name="submit">Add</button>
    </form>
</body>

</html>